body{
  padding: 0;
  margin: 0;
  height: 100%;
}
.calculator-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.number-and-clear-container{
  border: 1px solid red;
  height: 450px;
  width: 300px;
  display: block;
}
.clear-button-container{
  display: grid;
}
.number-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 1px solid blue;
  height: 100px;
}
