body{
  padding: 0;
  margin: 0;
  height: 100%;
}
.calculator-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.number-container{
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  width: auto;
}
.test1{
  display: grid;
  
}
